################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/One/One.sln
/.vs
